TVTracker/Service References/ShowTrackerServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShowTrackerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ShowTrackerWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IShowTrackerService_GetShowData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowData" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_GetShowData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowDataResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_GetAllShows_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShows" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_GetAllShows_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_AddShow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShow" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_AddShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShowResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_UpdateEpisode_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEpisode" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_UpdateEpisode_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEpisodeResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_DeleteShow_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShow" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_DeleteShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteShowResponse" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_UpdateShow_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShow" />
  </wsdl:message>
  <wsdl:message name="IShowTrackerService_UpdateShow_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateShowResponse" />
  </wsdl:message>
  <wsdl:portType name="IShowTrackerService">
    <wsdl:operation name="GetShowData">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackerService/GetShowData" message="tns:IShowTrackerService_GetShowData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackerService/GetShowDataResponse" message="tns:IShowTrackerService_GetShowData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllShows">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackerService/GetAllShows" message="tns:IShowTrackerService_GetAllShows_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackerService/GetAllShowsResponse" message="tns:IShowTrackerService_GetAllShows_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackerService/AddShow" message="tns:IShowTrackerService_AddShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackerService/AddShowResponse" message="tns:IShowTrackerService_AddShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEpisode">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackerService/UpdateEpisode" message="tns:IShowTrackerService_UpdateEpisode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackerService/UpdateEpisodeResponse" message="tns:IShowTrackerService_UpdateEpisode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackerService/DeleteShow" message="tns:IShowTrackerService_DeleteShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackerService/DeleteShowResponse" message="tns:IShowTrackerService_DeleteShow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateShow">
      <wsdl:input wsaw:Action="http://tempuri.org/IShowTrackerService/UpdateShow" message="tns:IShowTrackerService_UpdateShow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IShowTrackerService/UpdateShowResponse" message="tns:IShowTrackerService_UpdateShow_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IShowTrackerService" type="tns:IShowTrackerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShowData">
      <soap:operation soapAction="http://tempuri.org/IShowTrackerService/GetShowData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllShows">
      <soap:operation soapAction="http://tempuri.org/IShowTrackerService/GetAllShows" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShow">
      <soap:operation soapAction="http://tempuri.org/IShowTrackerService/AddShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEpisode">
      <soap:operation soapAction="http://tempuri.org/IShowTrackerService/UpdateEpisode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteShow">
      <soap:operation soapAction="http://tempuri.org/IShowTrackerService/DeleteShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateShow">
      <soap:operation soapAction="http://tempuri.org/IShowTrackerService/UpdateShow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShowTrackerService">
    <wsdl:port name="BasicHttpBinding_IShowTrackerService" binding="tns:BasicHttpBinding_IShowTrackerService">
      <soap:address location="http://41south.net/TVTracker/ShowTrackerWCF.ShowTrackerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>